<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="navbar">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">Pizzeria Roma</a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/}" aria-current="page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/menu?page=0&limit=10}">Menu</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                        <a class="nav-link" th:href="@{/dashboard?page=0&limit=10}">Dashboard</a>
                    </li>
                </ul>
                <div sec:authorize="isAnonymous()">
                    <a class="btn btn-primary" href="/login">Login</a>
                </div>
                <div sec:authorize="isAuthenticated()" class="user-info">
                    Logged User: <span sec:authentication="name" class="fw-blod me-2"></span>
                    Roles: <span sec:autentication="principal.authorities" class="fst-italic me-2"></span>
                    <a class="btn btn-primary" href="/logout">Sign out</a>
                </div>
            </div>
        </div>
    </nav>
</th:block>

</html>